.App {
 
  background-image: linear-gradient(to top, tomato 50% ,red  100%);
}
h1 { margin-top: 0; }

.recipes-container{
  justify-content: space-around;
 /* align-items: center; */ 
  display: flex;
  flex-wrap: wrap;
}

.titulo{
  font-style: italic;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  color: yellow;
  text-shadow: 0 0 5px #000;
  font-size: 5rem;

}
.subtitulo{
  font-style: italic;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  display: flex;
  color:	#FFD700;
  text-shadow: 0 0 5px #000;
  font-size: 2rem;
  padding: 20px;
}

.search-form{
  min-height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  padding: 10px;
  font-style: italic;
  
  border-radius: 10px;
}

.search-button{
  background: yellow;
  border: none;
  padding: 12px ;
  color: black;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: normal;

 
}

 .search-button:hover{font-weight: bold;
    background-color: rgb(192, 192, 0);
    box-shadow: black 0px 2px 1px;
    transition: all ease-in-out 0.4s;
    
  }